footer {
  background: rgb(0, 0, 0);
  background: linear-gradient(
    47deg,
    rgba(0, 0, 0, 1) 42%,
    rgba(36, 23, 1, 1) 100%
  );
  color: #fff;
  width: 100%;
  padding: 50px 0;
}

.footer-container {
  max-width: 1440px;
  margin: 0 auto;
}

.footer-text {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 60px 20px;
  border-bottom: 1px solid rgb(59, 59, 59);
  width: 80%;
  margin: 0 auto;
}

.footer-text h1 {
  font-size: 40px;
  color: #fff;
}

.footer-text h1 span {
  color: #ffac12;
}

.footer-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px 20px;
  width: 80%;
  margin: 0 auto;
}

.footer-link {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 70%;
}

.footer-logo {
  width: 30%;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}

.footer-logo a {
  text-decoration: none;
  display: flex;
  align-items: center;
  margin: 15px;
}

.footer-logo a span {
  color: #fff;
  font-size: 30px;
}

.footer-logo a i {
  color: #ffac12;
  font-size: 40px;
  margin-right: 5px;
}

.footer-link ul {
  list-style: none;
}

.footer-link ul li a {
  text-decoration: none;
  color: #777;
}

.footer-link ul li a:hover {
  color: #eee;
}

.footer-logo .social {
  display: flex;
  align-items: center;
  gap: 20px;
  text-align: center;
}

.footer-logo .social i {
  font-size: 30px;
}

.footer-logo .social i:hover {
  color: #ffac12;
  cursor: pointer;
}

.footer-text button {
  background: #ffac12;
  display: flex;
  align-items: center;
  padding: 12px 20px;
  font-size: 14px;
  border-radius: 0 15px 0 0;
  border: none;
  box-shadow: rgba(0, 5px, 10px, 0.6);
  transition: all 0.5s ease-in;
}

.footer-text button:hover {
  background: #f7be56;
  cursor: pointer;
}

.footer-text button span {
  color: #222;
  margin-right: 8px;
  font-weight: 700;
  font-size: 13px;
}

.footer-text button i {
  color: #fff;
  font-size: 16px;
}
